---
import Card from "@components/base/Card.astro";
---

<div class="grid md:grid-cols-3 ltablet:grid-cols-3 lg:grid-cols-3 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10">
  <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
    <Card class="'p-4'">
    <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
      <img
        class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
        src="/img/illustrations/doctors/doctor-1.svg"
        alt="Doctor"
      />
      <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
        <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
        <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
          <p class="text-rose-500">Sep</p>
          <p>12</p>
        </div>
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          The Art of Data-Driven Decision Making
        </h4>

      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Implement AI-powered data analytics tools to enhance decision-making accuracy and speed.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'gynaecology'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Unlocking Innovation: Strategies for Tech Startups
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Leverage AI to identify emerging trends and technologies, providing startups with insights for innovation.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >7 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'neurology'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Strategic Planning: Charting the Course for Success
        </h4>
      
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Utilize AI-driven market analysis tools for more precise strategic planning
        </p>
        <div>
          .
          </div>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >8 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'dermatology'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Navigating the Challenges of Project Management
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Employ AI-driven project management platforms to streamline project workflows and optimize resource allocation.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'general'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Revolutionizing Education: 2050's Online Education
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Integrate AI-powered educational tools for personalized learning experiences and data-driven instruction.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'surgery'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Manufacturing Excellence: Lean Principles and Beyond
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Apply AI-driven predictive maintenance and quality control systems to enhance manufacturing efficiencyd
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
         
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >6 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'gynaecology'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Machine Learning in Data-Driven Tech Decision Making
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Uncover the role of machine learning in making data-driven decisions within the tech industry.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Leading Tech Teams: AI-Enhanced Leadership Skills
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Learn how AI can augment leadership skills in tech team management.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'general'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          AI and Automation: Reshaping Tech Project Delivery
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Dive into how AI and automation are reshaping the way tech projects are delivered.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'general'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          AI-Infused Marketing: Shaping the Future of Tech Promotion
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Discover how AI is shaping the future of tech marketing and customer engagement
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'surgery'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Tech Entrepreneurship 2.0: Navigating with AI Insights
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Explore how AI insights are transforming the landscape for tech entrepreneurs.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'dermatology'">
    <Card class="'p-4'">
      <div class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800">
        <img
          class="absolute bottom-0 inset-x-0 mx-auto rounded-lg p-3 w-full max-w-[270px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
        <div class="absolute inset-0 flex items-center rounded-lg p-3 justify-center h-50 bg-black bg-opacity-60 text-white">
          <div class="w-60% text-1xl font-semibold p-2  text-white">Launching Soon</div>
          <div class="w-40% text-xs flex flex-col items-center justify-center border p-3 border-white rounded-lg">
            <p class="text-rose-500">Sep</p>
            <p>12</p>
          </div>
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          AI-Enabled Sales: Elevating Tech Productivity
        </h4>
        
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Learn how AI is elevating sales productivity and customer interactions in the tech sector.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Share"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:share-duotone"></i>
          </button>
          
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-primary-600" data-icon="uiw:time"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5 min of lecture</span
          >
        </div>
      </div>
    </Card>
  </div>
</div>
